button {
  border: unset;
  background: unset;
  padding: none;
  outline: none;
  border: 1px solid rgb(53, 53, 53);
  color: black;
  border-radius: 20px;
  width: 100px;
  background-color: rgb(150, 150, 150);
  padding: 10px;
  transition: 0.4s;
}
button:hover {
  color: rgb(201, 200, 200);
  background-color: rgb(83, 82, 82);
  cursor: pointer;
  transition: 0.4s;
}
button:active {
  color: white;
  border-color: white;
}

.btn1 {
  background-color: inherit;
  width: unset;
}
.btn1:hover {
  color: unset;
  background-color: unset;
  cursor: pointer;
}

.btn2 {
}
